# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Logs
logs/
*.log

# Data
data/raw/
data/processed/

# Test
.pytest_cache/
.coverage

# Ruff
.ruff_cache/

# mypy
.mypy_cache/

# macOS
.DS_Store

# Linux
*.swp